$radius: 6px;
$navw: 80px;
$fntBold: Mecano;
$fnt: Mecano-Light;

$white: #fff;
$fuchsia: #D80073;
$indianred: #C44032;
$orange: #F09609;
$yellow: #FEC52E;
$green: #59C859;
$aqua: #00C8C8;
$blue: #1BA1E2;
$purple: #A200FF;
